@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Remote WebService Data</h3>
<ul class="round">
    <li class="one">
        @Html.ActionLink("RemoteWebServices", "Index", "RemoteWebService")
        <ul>
            <li>@Html.ActionLink("Methods", "Index", "Method")</li>
            <li>@Html.ActionLink("Params", "Index", "Param")</li>
        </ul>
    </li>

@*    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>*@
</ul>
