@model IEnumerable<ReceiptSite.Models.ImageBank>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ImageType
        </th>
        <th>
            ImageFilePath
        </th>
        <th>
            ThumbnailFilePath
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageFilePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThumbnailFilePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
