@model WebServicesMvcApp1.Models.ModelViews.RemoteWebService.EditModelView

@{
    ViewBag.Title = "Remote Web Service Edit";
}

<h2>Remote Web Service Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RemoteWebService</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServiceName)
            @Html.ValidationMessageFor(model => model.ServiceName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServiceAddress)
            @Html.ValidationMessageFor(model => model.ServiceAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Wsdl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Wsdl)
            @Html.ValidationMessageFor(model => model.Wsdl)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Methods)
        </div>
        <div class="editor-field">
        @foreach (var method in Model.Methods)
        {
            @method.MethodName
        }
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<p>
@Html.ActionLink("Cancel", "Details", new { id=Model.Id }) |
@Html.ActionLink("Delete", "Delete", new { id=Model.Id })
</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
